
      body {
        font-family: "Sono", sans-serif;
      }
      .pricing-plan{
        background-color: #f2f2f2;
        max-width: 400px;
        text-align: center;
        border-radius: 5px;
        flex: 1;
        
      }
      .plan-title{
        font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      }
      .plan-price{
        font-size: 48px;
      font-weight: bold;
      margin-bottom: 10px;
      }
      .pricing-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 20px;
      }

      .plan-features{
        margin-top: 10px;
        list-style: none;
      }
      .plan-button{
        margin: 10px;
        background-color: orange;
        padding: 8px;
        border-radius: 5px;
        color: whitesmoke;
        cursor: pointer;
      }

      .pricing-plan:hover {
        transform: scale(1.05);
        transition: 0.3s;
}

      /* Hint: What can you do with a media query and flexbox? */
      @media (max-width: 680px) {
        .pricing-container{
        flex-direction: column;
        height: 100%;
      }
    }
   